<header local-class="header">
	<LinkTo @route="index">
		Public Diary
	</LinkTo>
	{{#if this.session.isAuthenticated}}
		<button {{on 'click' this.logout}}>
			Logout
		</button>
		<LinkTo @route="create-post">
			Create Post
		</LinkTo>
	{{else}}
		<button local-class="login" {{on 'click' this.login}}>
			Login
		</button>
	{{/if}}
</header>