<header local-class="header">
	{{on-key 'ctrl+shift+KeyL' this.login}}
	<LinkTo @route="index">
		Public Diary
	</LinkTo>
	{{#if this.session.isAuthenticated}}
		<div>
			<button {{on 'click' this.logout}}>
				Logout
			</button>
			<LinkTo @route="create-post">
				Create Post
			</LinkTo>
		</div>
	{{/if}}
</header>