<header local-class="header">
	<LinkTo @route="index">
		Public Diary
	</LinkTo>
	<Header::Menu />
	{{#if this.session.isAuthenticated}}
		<div>
			<h3>
				Welcome
				{{this.session.data.authenticated.user.displayName}}
			</h3>
			<button {{on 'click' this.logout}}>
				Logout
			</button>
			<LinkTo @route="create-post">
				Create Post
			</LinkTo>
		</div>
	{{else}}
		<button {{on 'click' this.login}}>
			Login
		</button>
	{{/if}}
</header>