:root {
  --primary-color: #3aafa9;
  --secondary-color: #17252a;
  
  --secondary: var(--secondary-color);
  --primary: var(--primary-color);
  --surface: #def2f1;
  --background: #feffff;
}

body, html {
	margin: 0;
  height: 100%;
}