@import "./helpers/colors";
@import "./helpers/typography";

:root {
  @include defineColorRGB(--primary, #3aafa9);
  @include defineColorRGB(--secondary, #17252a);

  @include defineColorRGB(--surface, #def2f1);
  @include defineColorRGB(--background, #feffff);

  --shadow-secondary: 0px 1px 1px 0px rgba(var(--secondary-rgb), 0.6);
}

body,
html {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

html {
  @include fluid-typography(16, 25, 300, 1500);
}
