@import "ember-blog/styles/helpers/px2rem";

.posts {
	list-style-type: none;
	padding-left: 0;
	margin: px2rem(10);

	li {
		font-size: px2rem(20);
		padding: px2rem(5) px2rem(10);
		border-radius: 5px;

		&:hover {
			background-color: var(--surface);
			cursor: pointer;
		}
	}
	a {
		color: var(--secondary);
		text-decoration: none;
		font-weight: 600;
	}
	em {
		display: inline;
		font-size: px2rem(16);
		color: var(--primary);
		font-weight: 600;
		margin-left: 20px;
	}
	li + li {
		margin-top: 2rem;
	}
}
