<ul>
	{{#each @posts as |post|}}
		<li>
			<LinkTo @route='posts.post' @model={{post.id}}>
				{{post.title}}
			</LinkTo>
			<button {{on 'click' (fn this.onDelete post)}}>
				X
			</button>
		</li>
	{{/each}}
</ul>