<ul local-class="posts">
	{{#each @posts as |post|}}
		<LinkTo @route="posts.post" @model={{post.id}} @tagName="li">
			<a>
				{{post.title}}
			</a>
			<em>
				{{post.createdAt}}
			</em>
			{{#if this.session.isAuthenticated}}
				<button {{on 'click' (fn this.onDelete post)}}>
					X
				</button>
			{{/if}}
		</LinkTo>
	{{/each}}
</ul>