.button {
	padding: 6px 10px;
	border-radius: 3px;
	background-color: var(--surface);
	color: var(--secondary);
	border: 0;
	box-shadow: var(--shadow-secondary);

	&:hover {
		cursor: pointer;
		box-shadow: 0px 1px 4px 0px rgba(var(--secondary-rgb), 0.6);
	}
	&:active {
		box-shadow: var(--shadow-secondary);
	}
	svg {
		margin-left: 2px;
	}
}