<form {{on 'submit' this.onSubmit}}>
	<label>
		Title
	<Input @value={{@post.title}} />
	</label>
	<label>
		Content
		<Editor @content={{@post.content}} @onChange={{this.onContentChange}} />
	</label>
	<input type="submit" value="Create">
</form>